

.App {
  text-align: center;

}

.themed-container{
  border:.1px solid transparent;
  box-shadow: 0px 0px 3px 1px #888888;
  margin: 1% auto;
  min-height: 762px;
}

.navbar{
  padding: 1.5%;
}


.sticky{
  position: fixed;
  top:0;
  width:100%;
  padding: .5% ;
  transition: padding .7s;
}

.fakeNav{
  height: 95.2px;
  padding: 2.5%;
  display: none;
  transition: padding .7s;
}
.visible{
  display: block;
}

.footerbar{
  padding-top: 3%;
  height: 300px;
  background-color: #7889e8;
}

#quote{
  padding-bottom: 1%;
}

.contactIcons{
  width: 20%;
  margin: 0 auto;
  background-color: #323232;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.media{
  padding: 5% 0;
  justify-content: space-evenly;
  width: 100%;
  margin: 1% 0;
  background-color: #f1f2f9;
  border-radius: 0.3rem;
}

.media-left img{
  height: 200px;
}

.media-body{
  text-align: left;
  max-width:20%;
  align-items: stretch;
}

.homeFlex{
  padding: 5% 0;
  width: 60%;
  margin: 0 auto;
  /* border:.1px solid green; */
  display: flex;
  text-align: left;
}

.homeChild{
  margin-right:10%;
}

.jumbotron{
  text-align:left;
  margin-top: 1%;
}

.badge{
  padding: 1%;
  text-transform: uppercase;
  margin: .8% .5%;
  border:2px solid transparent;
  position: relative;
  overflow: hidden;
}


.badge:hover{
  cursor: pointer;
}

.badge:hover::before{
  top:0;
  left:-100%;
  background-color: #6480af;
  transform: translate(100%,0);
}

.badge:hover::after{
  background-color: #4e6488;
  top: 50%;
  left:100%;
  transform: translate(-100%,0);
  transition-delay: .2s;
}

.badge::before, .badge::after{
  content: " ";
  left: 0;
  height: 50%;
  display: block;
  width: 100%;
  position: absolute;
  z-index: 1;
  transition: transform .3s cubic-bezier(.65,.05,.1,1);
}

.activee::before{
  top:0;
  left:0;
  background-color: #6480af;
}

.activee::after{
  background-color: #4e6488;
  top: 50%;
  left:0;
}


.badge span{
  position: relative;
  z-index: 2;
}



@media screen and (max-width:500px ){

  .media{
    padding: 5% 0;
    justify-content: space-evenly;
    flex-direction:column;
    align-items: center;
    width: 100%;
    margin: 1% 0;
    background-color: #f1f2f9;
  }

  .media-body{
    max-width: 100%;
    padding:5%
  }

  .homeFlex{
    flex-direction: column;
    width: 90%;
  }
  
  .homeChild{
    width: 100%;
  }



}

